*{
    font-family:sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    height: 4170px;
    font-family:sans-serif;
    line-height: 30px;
    font-size: 15px;
}

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background: #ffffff;
    box-shadow: 0px 4px 1px
    rgba(193, 193, 193, 0.25);
    color:  #6A6A6A;
    z-index: 2;
}

header div{
    width : 60%;
}

 nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    right: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

header a{
    margin: 9px;
}

span{
    min-width: 123px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
}

.blue{
    color: #ffffff;
    min-width: 212px;
    min-height: 74px;
    padding: 10px;
    background: #3151fb;
}

header.blue{
    box-shadow: 0px 4px 4px 0px rgba(89, 89, 89, 0.25);
}

main{
    font-size: 25px;
}

.whatWeDo{
    background: inherit;
    padding: 10px;
    color: #3151fb;
    border:2px solid #3151fb;
}

.imp{
    color: rgb(87, 86, 86);
    font-size:inherit;
}

section{
    width: 100%;
    padding-top: 100px;
    padding: 50px;
    height:700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.one{
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    padding:20px;
}

.txt{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 550px;
    height: 100%;
    font-family: inherit;
    margin: 50px;
}

h3{
    margin-bottom: 20px;
    color: #3151fb;
    text-align: start;
}

.sub-1,.sub-2{
    height: 50%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 45%;
    border-radius: 10px;
    height: 100%;
    padding: 5px;
    width: 45%;
    margin: 50px;
}
.cd{
    background: rgba(196, 196, 196, 1);
    box-shadow: 0px 4px 50px 0px rgba(196, 196, 196, 1);
    width: 400px;
    height: 300px;
    border-radius: 10px; 
    margin: 10px;
    position:relative;
}
.cd-1,.cd-2{
    background: rgba(196, 196, 196, 1);
    box-shadow: 0px 4px 50px 0px rgba(196, 196, 196, 1);
    width: 300px;
    height: 170px;
    border-radius: 10px; 
    margin: 10px;
    position:relative;
}

.cd-1{
    right: -20px;
}

.cd-2{
    left: -20px;
}

.cd-5{
    background-color:rgba(255, 255, 255, 1);
    width: 400px;
    height: 300px;
    border-radius: 10px; 
    margin: 10px;
    position:relative;
}

.sc-5{
    color: #ffff;
    background: rgba(53, 53, 140, 1);
}